<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by {{name}}. It uses data from <a href="https://www.mapbox.com/">mapbox.com</a> and <a href="https://darksky.net">darksky.net</a>.</p>
        <p>To view code for this site you can visit my <a href="https://github.com/mavrodimmm/weather-app-node3">GIT</a> profile.</p>
    </div>
    <!--<img class="potrait" src="/images/robot.png">-->
    {{>footer}}
</body>
</html>