<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>
</html>